<!-- <h1>Hola mundo!!</h1>

<p>Esto es un saludo...</p>

<div>
  {{title}}
</div>

<div>
  <p>
    La suma de 2+2 es {{2+2}}
  </p>
</div>

<div>
  <p>
    Funcion que duplica numero <br>
    El doble de 3 es {{duplicarNumero(3)}}
  </p>
</div>

<div>
  <p>
    Nombre pelicula:{{pelicula.nombre}} <br>
    La fecha de lanzamiento fue:{{pelicula.fechaLanzamiento | date:"dd-MM-yy"}}
    <br>
    El precio de la pelicula es :{{pelicula.precio}}
  </p>
</div>

<div>
  <app-productlist></app-productlist>
</div> -->
<div class="container">
<div class="row">


  <h1>IEVN1003</h1>


  <div>
    <app-productlist></app-productlist>
  </div>
</div>
</div>